//@import "~bootstrap/scss/bootstrap";

body.game {
  margin: 0px 0px 1px 0px;
  background-color: #000000;

	#my-game-container {
		height: 99.9vh;
		top: 0;
		width: 100%;
		bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		#my-game {
			canvas {
				position: absolute;
				top: 0;
				margin-left: 0;
			}
		}
	}
}


body.playground {
	background-color: #000000;
    h1{color:greenyellow; text-align: center;}
    div{color: white;}
}

